
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
	background-color: #f5f1f1;
	color:#5f6cda ;
}

header{
    background-color: #5f6cda;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    font-size: 30px;
}
.logo {
	color: #f5f1f1;
	margin:200px;
	letter-spacing: 5px;
}

footer{
	color: #f5f1f1;
	position: fixed;
   bottom: 0;
   width: 100%;
   height: 5%;
   min-height: 10%;
   background-color: #5f6cda;
   display: flex;
   
   align-items: center;
}

.footer_text {
	color: #f5f1f1;
	margin:200px 200px;
	letter-spacing: 2px;
	font-size: 15px;
}

.designedBY{
	margin:0px 0px 0px 900px;
	font-size: 12px;
}

.photo {
	text-align: center;
}

.summary {
	text-align: center;
	margin: 0 auto 20px;
	font-size: 0;
}
.sum {
	display: inline-block;
	vertical-align: top;
	margin: 0 auto 40px;
	width: 33.33%;
	padding: 0 40px;
	color: #333;
	font: 16px/34px 'HelveticaNeue_Thin', Arial;
}
.sum h3 {
	display: block;
	font: 24px 'ProximaNovaExCn-Semibold', Arial;
	margin: 0;
	padding-bottom: 50px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	color: #000;
	background: url(img/sep.png) no-repeat center 50px;
	background-size: 50px 3px;
}